{% load staticfiles %}
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<script src="https://code.highcharts.com/highcharts.js"></script>
<script>{% block javascript %}{% endblock %}</script>
</head>
<body>
{% block content %}
<a href="{{ URL }}" class="btn btn-info" role="button">Login to DrChrono</a>
{% endblock %}
</body>
</html>
