{% extends "index.html" %}

{% block javascript_links %}
<script type='text/javascript' src="/static/js/main.js"></script>
{% endblock %}

{% block content %} 
	<h1>Hello {{ username }}</h1>
	<select name="Patient" id="patients"">
	{% for id, name in patients.items %}
		<option value="{{ id }}">{{ name }}</option>
	{% endfor %}
	</select>

	<select name="Field" id="field_select">
	{% for id, name in fields.items %}
		<option value="{{ id }}">{{ name }}</option>
	{% endfor %}
	</select>
	<button onclick="populateValues();">Get Values</button>
	<div id="loading">
	</div>
	<table id="values_table">
		<tr>
			<th>Date</th>
			<th>Value</th>
		</tr>
		<tbody id="values">
		</tbody>
	</table>
{% endblock %}

